<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<p> <% @letters.each do  |letter| %>
<%= letter %>
<% end %>
</p>

<form action="/score" method="post">
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  <label for="word">What is the longest word you can find? </label>
  <input type="text" name="word">
  <input type="submit" value="Play !" class="btn">
</form>
